<% content_for :page_title do %>
<%= Guides.meta["title"] %>
<% end %>

<% content_for :header_section do %>
<h2><%= Guides.meta["title"] %> (<%= Guides.meta["version"] %>)</h2>

<%= Guides.meta[guide_type] %>

<p>
  <%= Guides.meta["description"] %>
</p>

<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <% Guides.meta["index"].each do |index| %>
      <dd class="<%= index["type"] %>"><%= index["text"].html_safe %></dd>
    <% end %>
  </dl>
</div>
<% end %>

<% Guides.meta["sections"].each do |section| %>
  <h3><%= name %></h3>

  <dl>
    <% section["guides"].each do |g| %>
      <%= guide(g["name"], g["url"]) do %>
        <p><%= g["description"] %></p>"
      <% end %>
    <% end %>
  </dl>
<% end %>
